### Thanks to the developers of the very useful dependencies...

* [@9fv.io/undefined-error](https://github.com/9fv/node-undefined-error) by [9fv.io](https://github.com/9fv/)
* [@pigalle/plugins.serializer](https://github.com/pigalle-io/pigalle.plugins.serializer) by [pigalle.io](https://github.com/pigalle-io/)
